<!DOCTYPE html>
<html lang="ru">
  <head>
  </head>
  <body>
    <header>
        <h1>Пересылка инцидента {{ ticket.title }}</h1>
    </header>

    <main>
        <p>Уважаемые коллеги, исходя из содержимого заявки, мы предполагаем, что она предназначается вам.</p>
        <p><b>Номер заявки:</b> {{ ticket.number }}</p>
        <p><b>Описание:</b> <i>{{ ticket.description }}</i></p>
        <p><b>Отправитель:</b> {{ ticket.author }}</p>
        <p><b>Дата создания:</b> {{ ticket.created_at }}</p>
        <p><b>Список комментариев:</b></p>
        <table>
          <thead>
            <tr>
              <th>Автор</th>
              <th>Время</th>
              <th>Текст</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <tr>
                <th>{{ article.author }}</th>
                <th>{{ article.created_at }}</th>
                <th>{{ article.text }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </main>

    <footer>
        Это письмо отправлено из сервиса Zammad. Отвечать на него не нужно
    </footer>
    </div>
  </body>
</html>