<!DOCTYPE html>
<html lang="ru">
  <head>
    <style>
      table {
          border-collapse: collapse;
          width: 100%;
      }

      th, td {
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <header>
        <h1>Пересылка инцидента {{ ticket.title }}</h1>
    </header>

    <main>
        <p>Уважаемые коллеги, исходя из содержимого заявки, мы предполагаем, что она предназначается вам.</p>
        <p>Номер заявки: {{ ticket.number }}</p>
        <p>Описание: {{ ticket.description }}</p>
        <p>Отправитель: {{ ticket.author }}</p>
        <p>Дата создания: {{ ticket.created_at }}</p>
        <p>Список комментариев:</p>
        {% for article in articles %}
        <p>Автор комментария: {{ article.author }}</p>
        <p>Дата: {{ article.created_at }}</p>
        <p>Содержание: {{ article.text }}</p>
        {% endfor %}
        <table id="messages">
          <thead>
            <tr>
              <th>Автор</th>
              <th>Время</th>
              <th>Текст</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
              <th>{{ article.author }}</th>
              <th>{{ article.created_at }}</th>
              <th>{{ article.text }}</th>
            {% endfor %}
          </tbody>
        </table>
    </main>

    <footer>
        Это письмо отправлено из сервиса Zammad. Отвечать на него не нужно
    </footer>
    </div>
  </body>
</html>