<!DOCTYPE html>
<html lang="ru">
  <head>
  </head>
  <body>
    <header>
        <h1>{{ ticket.title }}</h1>
    </header>

    <main>
        <p>Уважаемые коллеги, исходя из содержимого заявки, мы предполагаем, что она предназначается вам.</p>
        <p>Номер заявки: {{ ticket.number }}</p>
        <p>Тема: {{ ticket.title }}</p>
        <p>Описание: {{ ticket.description }}</p>
        <p>Отправитель: {{ ticket.author }}</p>
        <p>Дата создания: {{ ticket.created_at }}</p>
        <p>Список комментариев:</p>
        {% for article in articles %}
        <p>Автор комментария: {{ article.author }}</p>
        <p>Дата: {{ article.created_at }}</p>
        <p>Содержание: {{ article.text }}</p>
        {% endfor %}
    </main>

    <footer>
        Это письмо отправлено из сервиса Zammad. Отвечать на него не нужно
    </footer>
    </div>
  </body>
</html>